.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body  {
    background-image: url(./images/bg-desktop.svg);
    background-color:  hsl(257, 40%, 49%);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;

    width: 100%;
    max-width: 1440px;
    /* height: 100vh; */

    margin: auto;
}

body header {
    width: 90%;
    margin-top: 30px;
    margin-left: 4rem;
}

body .content { 
    margin: 0 4rem;
    min-height: 80vh;
    display: flex;
    flex-direction: center;
    align-items: center;

}

body .content .text {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
   

    position: relative;
   
}

body .content .text h1 {
    color: white;
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 700;
    width: 90%;
}

body .content .text p {
    margin-top: 20px;
    color: white;
    font-weight: 400;
    line-height: 1.5rem;
}

.content .text button {
    margin-top: 40px;
    width: 11rem;
    height: 3rem;

    border-radius: 100px;
    border: 0;
    
    color: hsl(257, 40%, 49%);
    font-weight: 500;
    font-size: 16px;
    font-family: 'Open Sans', 'sans-serif';

    box-shadow: 10px 10px 8px hsl(257, 32%, 33%);

    cursor: pointer;
}

.position-icon {
    width: 95%;
    align-items: center;
    text-align: right;
}

.position-icon i {
    margin-left: 15px;
}




@media (max-width: 1080px){
    #image-mockup {
        width: 500px;
    }
}

@media (max-width: 880px){
    #image-mockup {
        width: 400px;
    }
}

@media (min-width: 300px) and (max-width: 600px) {
    body {
        background-image: url("./images/bg-mobile.svg");
    }

    body header {
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 40px;
    }
    body header img {
        width: 150px;
    }

    body .content {
        width: 90%;
        flex-direction: column;
        margin: auto;
        
    }

    #image-mockup {
        width: 300px;
    }

    body .content .text {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    body .content .text h1 {
        font-size: 20px;
        line-height: 1.5rem;
        text-align: center;
    }

    body .content .text p {
        font-size: 15px;
        font-weight: 300;
    
    }

    

    .content .text button {
        width: 15rem;
        height: 2.5rem;
    }

    .position-icon {

        align-items: center;
        text-align: center;
    }

    footer {
        margin-top: 20px;
    }

}